

<ion-content [fullscreen]="true"  >

  <div class=" w-full h-full flex flex-col ">


    <div class=" flex-[0.3] flex justify-center item-center flex-col " *ngIf="step < 3">
      <div style="margin-left: -20px" class="w-[120%]  bg-secondary-100  z-10 h-[6px] mb-3 ">
        <div class="bg-secondary-500 h-[6px] z-10" [style.width]="progress()"></div>
      </div>
      <div class="flex items-center justify-center">
        <img src="../../../assets/icon/kiza.png" alt="" srcset="" class="w-[200px] h-[200px]">

      </div>
      <h1 class=" text-[30px] text-[#b8FF12] font-bold text-center">Sign Up</h1>
      <p class="font-LufgaRegular text-md text-neutral-500 text-center"> 👇 </p>
    </div>

    <br/>




     <form  class=" w-full flex-1 flex flex-col  w-full  px-[30px] py-[40px] " [formGroup]="userForm"  (ngSubmit)="signUp()">

       <div class=" flex flex-col w-full justify-between h-full ">
         <div>
           <div class=" border rounded pl-2 pr-2  mb-5 border-primary-600 ">
             <ion-input
               name="firstname"
               type="text"
               formControlName="firstName"
               placeholder="Nom"
               [errorText]="FirstNameError"
             ></ion-input>
           </div>
           <div class=" border rounded pl-2  pr-2 mb-5  border-primary-600">
             <ion-input
               name="lastname"
               type="text"
               formControlName="lastName"
               placeholder="Prenom"
               [errorText]="LastNameError"></ion-input>
           </div>
           <div class=" border rounded pl-2 pr-2 mb-5 border-primary-600 ">
             <ion-input
               name="email"
               type="email"
               formControlName="email" #email
               errorText="{{EmailError}}"
               placeholder="E-mail"></ion-input>
           </div>
           <div class=" border rounded pl-2 pr-2 mb-5 border-primary-600">
             <ion-input
               name="password"
               type="password"
               formControlName="password" #password
               errorText="{{PasswordError}}"
               placeholder="Password"></ion-input>
           </div>
           <div class=" border rounded pl-2 pr-2 mb-5 border-primary-600">
             <ion-select
               name="email"
               class="w-full"
               formControlName="gender"
               placeholder="Genre"
               label-placement="floating"
             >
               <ion-select-option value="male"> Homme </ion-select-option>
               <ion-select-option value="female"> Femme </ion-select-option>
             </ion-select>
           </div>
         </div>

         <ion-button  [disabled]="userForm.invalid" class=" font-syneBold  rounded w-full h-14 mt-[40px]" type="submit" >
           <div class="text-white">signUp</div>
         </ion-button>
       </div>

     </form>


  </div>

  





</ion-content>
